<app-breadcrumb
  [title]="'Car Page'"
  [items]="['Forms', 'Form Layout']"
  [active_item]="'Car Page'"
></app-breadcrumb>
<div class="container-fluid">
  <div class="feature-cars">
    <div class="row">
      <div class="col-md-6 cars-total"></div>

      <div class="col-md-6 text-sm-end">
        <div class="select2-drpdwn-car select-options d-inline-block">
          <select name="select" class="form-control btn-square">
            <option value="opt1">Open contracts only</option>
            <option value="opt2">Closest contract only</option>
            <option value="opt3">All contracts</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 box-col-12">
      <div class="text-center">
        <div class="cardheader socialheader">
          <div class="info market-tabs col-md-12">
            <ul
              id="top-tab"
              role="tablist"
              class="nav nav-tabs border-tab tabs-scoial"
            >
              <li class="nav-item">
                <button
                  class="btn btn-pill btn-light btn-air-light active txt-dark me-1"
                  type="button"
                  disabled
                >
                  Voucher 0
                </button>
              </li>
              <li class="nav-item">
                <button
                  class="btn btn-pill btn-light btn-air-light active txt-dark me-1"
                  type="button"
                  disabled
                >
                  Change car
                </button>
              </li>
              <li class="nav-item">
                <button
                  class="btn btn-pill btn-light btn-air-light active txt-dark me-1"
                  type="button"
                >
                  Deposit back
                </button>
              </li>

              <li class="nav-item">
                <button
                  class="btn btn-pill btn-light btn-air-light active txt-dark me-1"
                  type="button"
                >
                  Rec. Voucher
                </button>
              </li>
              <li class="nav-item">
                <button
                  class="btn btn-pill btn-light btn-air-light active txt-dark me-1"
                  type="button"
                >
                  Pay. Voucher
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-xl-12">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <ul class="action">
                <li class="plus">
                  <a href="#"
                    ><i class="icon-plus-alt"></i
                  ></a>
                </li>
                <li class="edit">
                  <a href="#"
                    ><i class="icon-pencil-alt"></i
                  ></a>
                </li>
                <li class="delete">
                  <a href="#"
                    ><i class="icon-trash mb-3"></i
                  ></a>
                </li>
                <li class="information">
                  <a
                    routerlink="/cars/car-details"
                    href="/cars/car-details"
                    ><i class="icon-printer"></i
                  ></a>
                </li>
              </ul>
              <h5 class="text-center" style="color: green">
                Contract is closed
              </h5>
            </div>

            <div class="card-body">
              <form class="theme-form mega-form">
                <div *ngFor="let c of formData">
                  <div class="row g-4">
                    <div class="col-md-3">
                      <div class="mb-3">
                        <label class="col-form-label">No</label>
                        <input
                          class="form-control"
                          type="text"
                          placeholder="No"
                          [value]="c.No"
                        />
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="mb-3">
                        <label class="col-form-label">Version</label>
                        <input
                          class="form-control"
                          type="text"
                          placeholder="Version"
                          [value]="c.version"
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label class="col-form-label">Sponsor/Driver</label>
                        <input
                          class="form-control"
                          type="text"
                          placeholder="Sponsor"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="row g-6">
                    <div class="col-md-3">
                      <div class="mb-3">
                        <label class="col-form-label">Car out</label>
                        <input
                          class="form-control"
                          type="date"
                          [value]="c.car_out"
                        />
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="mb-3">
                        <label class="col-form-label">Days</label>
                        <input
                          class="form-control"
                          type="number"
                          [value]="c.car_out"
                        />

                        <span>02/02/2024</span>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="mb-3">
                        <label class="col-form-label">Car back</label>
                        <input
                          class="form-control"
                          type="date"
                          [value]="c.car_back"
                        />
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="mb-3">
                        <label class="col-form-label"></label>
                        <div class="form-check checkbox checkbox-solid-primary">
                          <input
                            class="form-check-input"
                            id="solid3"
                            type="checkbox"
                            checked=""
                          />
                          <label class="form-check-label" for="solid3"></label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row g-6"></div>

                  <div class="row g-4">
                    <div class="d-flex">
                      <div class="col-md-3">
                        <div class="mb-3">
                          <label class="col-form-label">Car</label>
                          <input
                            class="form-control"
                            type="text"
                            placeholder="No"
                          />
                        </div>
                        <button (click)="modal.open(content)">Tee</button>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="mb-3">
                        <label class="col-form-label">Car</label>
                        <input
                          class="form-control"
                          type="text"
                          placeholder="No"
                        />
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="mb-3">
                        <label class="col-form-label">select one</label>
                        <select class="form-control">
                          <option>Kia</option>
                          <option>Bmw</option>
                          <option>Hondai</option>
                          <option>Benz</option>
                          <option>Kia sportage</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="mb-3">
                        <label class="col-form-label">Deposit</label>
                        <input
                          class="form-control"
                          type="text"
                          placeholder="No"
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label class="col-form-label">Location</label>
                        <input
                          class="form-control"
                          type="text"
                          placeholder="No"
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label class="col-form-label">Hirer</label>
                        <input
                          class="form-control"
                          type="text"
                          placeholder="No"
                        />
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="mb-3">
                        <label class="col-form-label">Comments </label>
                        <textarea
                          class="comments form-control"
                          type="text"
                          placeholder="No"
                        ></textarea>
                      </div>
                    </div>
                  </div>

                  <hr class="mt-4 mb-4" />
                  <div class="row">
                    <div class="col-sm-12 col-xl-12">
                      <ul
                        ngbNav
                        #nav="ngbNav"
                        [(activeId)]="active3"
                        (navChange)="onNavChange1($event)"
                        class="nav-tabs"
                      >
                        <li [ngbNavItem]="1">
                          <a ngbNavLink>Car parts</a>
                          <ng-template ngbNavContent>
                            <div class="row">
                              <div class="col-md-12">
                                <h5 class="mb-3 pt-4">Out</h5>

                                <div class="animate-chk">
                                  <div class="row">
                                    <div class="col-md-6">
                                      <div class="mb-3 pt-2">
                                        <input
                                          class="form-control"
                                          type="text"
                                          placeholder="Fuel out"
                                        />
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-6">
                                      <div class="mb-3 pt-2">
                                        <input
                                          class="form-control"
                                          type="text"
                                          placeholder="No KM out"
                                        />
                                      </div>
                                    </div>
                                  </div>

                                  <div class="row">
                                    <div class="col">
                                      <label for="chk-ani" class="d-block"
                                        ><input
                                          id="chk-ani"
                                          type="checkbox"
                                          checked=""
                                          class="checkbox_animated"
                                        />
                                        Spare wheel </label
                                      ><label for="chk-ani1" class="d-block"
                                        ><input
                                          id="chk-ani1"
                                          type="checkbox"
                                          class="checkbox_animated"
                                        />
                                        Wheel cover </label
                                      ><label for="chk-ani2" class="d-block"
                                        ><input
                                          id="chk-ani2"
                                          type="checkbox"
                                          checked=""
                                          class="checkbox_animated"
                                        />
                                        Tools & Jack </label
                                      ><label for="chk-ani3" class="d-block"
                                        ><input
                                          id="chk-ani3"
                                          type="checkbox"
                                          class="checkbox_animated"
                                        />
                                        Radio / Tape
                                      </label>
                                      <label for="chk-ani4" class="d-block"
                                        ><input
                                          id="chk-ani4"
                                          type="checkbox"
                                          class="checkbox_animated"
                                        />
                                        Fire Extinguisher
                                      </label>
                                    </div>
                                    <div class="col">
                                      <label for="chk-ani" class="d-block"
                                        ><input
                                          id="chk-ani"
                                          type="checkbox"
                                          checked=""
                                          class="checkbox_animated"
                                        />
                                        First AID box</label
                                      ><label for="chk-ani1" class="d-block"
                                        ><input
                                          id="chk-ani1"
                                          type="checkbox"
                                          class="checkbox_animated"
                                        />
                                        Lights </label
                                      ><label for="chk-ani2" class="d-block"
                                        ><input
                                          id="chk-ani2"
                                          type="checkbox"
                                          checked=""
                                          class="checkbox_animated"
                                        />
                                        GPS </label
                                      ><label for="chk-ani3" class="d-block"
                                        ><input
                                          id="chk-ani3"
                                          type="checkbox"
                                          class="checkbox_animated"
                                        />
                                        Heater / AC
                                      </label>
                                      <label for="chk-ani3" class="d-block"
                                        ><input
                                          id="chk-ani3"
                                          type="checkbox"
                                          class="checkbox_animated"
                                        />
                                        Fuel panel
                                      </label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <hr class="mt-4 mb-4" />

                            <div class="row">
                              <div class="col-md-12">
                                <h5 class="mb-3 pt-4">Back</h5>
                                <div class="animate-chk">
                                  <div class="row">
                                    <div class="col-md-6">
                                      <div class="mb-3 pt-2">
                                        <input
                                          class="form-control"
                                          type="text"
                                          placeholder="Fuel back"
                                        />
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-6">
                                      <div class="mb-3 pt-2">
                                        <input
                                          class="form-control"
                                          type="text"
                                          placeholder="Fuel back"
                                        />
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col">
                                      <label for="chk-ani" class="d-block"
                                        ><input
                                          id="chk-ani"
                                          type="checkbox"
                                          checked=""
                                          class="checkbox_animated"
                                        />
                                        Spare wheel </label
                                      ><label for="chk-ani1" class="d-block"
                                        ><input
                                          id="chk-ani1"
                                          type="checkbox"
                                          class="checkbox_animated"
                                        />
                                        Wheel cover </label
                                      ><label for="chk-ani2" class="d-block"
                                        ><input
                                          id="chk-ani2"
                                          type="checkbox"
                                          checked=""
                                          class="checkbox_animated"
                                        />
                                        Tools & Jack </label
                                      ><label for="chk-ani3" class="d-block"
                                        ><input
                                          id="chk-ani3"
                                          type="checkbox"
                                          class="checkbox_animated"
                                        />
                                        Radio / Tape
                                      </label>
                                      <label for="chk-ani4" class="d-block"
                                        ><input
                                          id="chk-ani4"
                                          type="checkbox"
                                          class="checkbox_animated"
                                        />
                                        Fire Extinguisher
                                      </label>
                                    </div>
                                    <div class="col">
                                      <label for="chk-ani" class="d-block"
                                        ><input
                                          id="chk-ani"
                                          type="checkbox"
                                          checked=""
                                          class="checkbox_animated"
                                        />
                                        First AID box</label
                                      ><label for="chk-ani1" class="d-block"
                                        ><input
                                          id="chk-ani1"
                                          type="checkbox"
                                          class="checkbox_animated"
                                        />
                                        Lights </label
                                      ><label for="chk-ani2" class="d-block"
                                        ><input
                                          id="chk-ani2"
                                          type="checkbox"
                                          checked=""
                                          class="checkbox_animated"
                                        />
                                        GPS </label
                                      ><label for="chk-ani3" class="d-block"
                                        ><input
                                          id="chk-ani3"
                                          type="checkbox"
                                          class="checkbox_animated"
                                        />
                                        Heater / AC
                                      </label>
                                      <label for="chk-ani3" class="d-block"
                                        ><input
                                          id="chk-ani3"
                                          type="checkbox"
                                          class="checkbox_animated"
                                        />
                                        Fuel panel
                                      </label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </ng-template>
                        </li>
                        <li [ngbNavItem]="2">
                          <a ngbNavLink>Payments</a>
                          <ng-template ngbNavContent>
                            <div class="row g-4">
                              <div class="col-md-3">
                                <div class="mb-3">
                                  <div class="d-flex">
                                    <input
                                      type="text"
                                      ng-model="val1"
                                      class="form-control"
                                    /><strong
                                      style="color: black"
                                      class="ps-1 pt-3 pe-1"
                                      >X</strong
                                    ><input
                                      class="form-control"
                                      type="text"
                                      ng-model="val2"
                                    />
                                    <strong
                                      style="color: black"
                                      class="ps-1 pt-3 pe-1"
                                      >=</strong
                                    >
                                    <input
                                      type="text"
                                      ng-model="val1"
                                      class="form-control"
                                      value="{{ val1 * val2 }}"
                                    />
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div
                              class="row row-cols-sm-3 theme-form mt-3 form-bottom align-items-center g-2 ng-untouched ng-pristine ng-valid"
                            >
                              <div class="col-md-3 d-flex">
                                <input
                                  type="number"
                                  placeholder="Overtime"
                                  class="form-control"
                                />
                              </div>

                              <div class="d-flex">
                                <button class="btn btn-primary">Set</button>
                              </div>
                            </div>

                            <div
                              class="row row-cols-sm-3 theme-form mt-3 form-bottom align-items-center g-2 ng-untouched ng-pristine ng-valid"
                            >
                              <div class="col-md-3 d-flex">
                                <input
                                  type="number"
                                  placeholder="Driver / Petrol"
                                  class="form-control"
                                />
                              </div>

                              <div class="d-flex">
                                <button class="btn btn-primary">Calc</button>
                              </div>
                            </div>
                            <div
                              class="row row-cols-sm-3 theme-form mt-3 form-bottom align-items-center g-2 ng-untouched ng-pristine ng-valid"
                            >
                              <div class="col-md-3 d-flex">
                                <input
                                  type="number"
                                  placeholder="Fines"
                                  class="form-control"
                                />
                              </div>

                              <div class="d-flex">
                                <button class="btn btn-primary">Show</button>
                              </div>
                            </div>
                            <div
                              class="row row-cols-sm-3 theme-form mt-3 form-bottom align-items-center g-2 ng-untouched ng-pristine ng-valid"
                            >
                              <div class="col-md-3 d-flex">
                                <input
                                  type="number"
                                  placeholder="Overdrive / Other"
                                  class="form-control"
                                />
                              </div>

                              <div class="d-flex">
                                <button class="btn btn-primary">Set</button>
                              </div>

                              <hr class="mt-4 mb-4" />
                              <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th scope="col">Advance</th>
                                    <th scope="col">Discount</th>
                                    <th scope="col">Sum</th>
                                    <th scope="col">Payable</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>
                                      <input
                                        type="number"
                                        class="form-control"
                                      />
                                    </td>
                                    <td>
                                      <input
                                        type="number"
                                        class="form-control"
                                      />
                                    </td>
                                    <td>
                                      <input
                                        type="number"
                                        class="form-control"
                                      />
                                    </td>
                                    <td>
                                      <input
                                        type="number"
                                        class="form-control"
                                      />
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </ng-template>
                        </li>
                        <li [ngbNavItem]="3">
                          <a ngbNavLink>Car body</a>
                          <ng-template ngbNavContent>
                           <img class="img-fluid w-100" src="assets/images/cars/car_body.png"/>xxxxx
                          </ng-template>
                        </li>
                      </ul>
                      <div [ngbNavOutlet]="nav" class="mt-2"></div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="card-footer text-end flex">
              <button class="btn btn-primary">
                <i class="me-2 text-center" data-feather="printer"></i> Invoice
              </button>
            </div>

            <nav>
              <div class="row">
                <div class="m-t-15 btn-showcase">
                  <ul class="pagination pagination-primary">
                    <li class="page-item">
                      <button class="page-link" (click)="previousPage()">
                        <span aria-hidden="true">«</span>
                      </button>
                    </li>
                    <li class="page-item">
                      <a class="page-link">
                        {{ currentPage + 1 }} /{{ totalPages }}</a
                      >
                      >
                    </li>

                    <li class="page-item">
                      <button class="page-link" (click)="nextPage()">
                        <span aria-hidden="true">»</span>
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card-body">
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Our Available Cars</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <form class="theme-form mega-form">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-block row">
              <div class="col-sm-12 col-lg-12 col-xl-12">
                <div
                  class="card-body pt-0 campaign-table click-drag-handler scroll-demo p-0"
                >
                  <div class="recent-table table-responsive currency-table">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Id</th>
                          <th scope="col">Car</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Kia sportage</td>
                          <td>
                            <button class="btn btn-outline-dark">Choose</button>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Audi</td>
                          <td>
                            <button class="btn btn-outline-dark">Choose</button>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Audi</td>
                          <td>
                            <button class="btn btn-outline-dark">Choose</button>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Audi</td>
                          <td>
                            <button class="btn btn-outline-dark">Choose</button>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Audi</td>
                          <td>
                            <button class="btn btn-outline-dark">Choose</button>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Audi</td>
                          <td>
                            <button class="btn btn-outline-dark">Choose</button>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Audi</td>
                          <td>
                            <button class="btn btn-outline-dark">Choose</button>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Audi</td>
                          <td>
                            <button class="btn btn-outline-dark">Choose</button>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Audi</td>
                          <td>
                            <button class="btn btn-outline-dark">Choose</button>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Audi</td>
                          <td>
                            <button class="btn btn-outline-dark">Choose</button>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Audi</td>
                          <td>
                            <button class="btn btn-outline-dark">Choose</button>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Audi</td>
                          <td>
                            <button class="btn btn-outline-dark">Choose</button>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Audi</td>
                          <td>
                            <button class="btn btn-outline-dark">Choose</button>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Audi</td>
                          <td>
                            <button class="btn btn-outline-dark">Choose</button>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Audi</td>
                          <td>
                            <button class="btn btn-outline-dark">Choose</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="modal-footer">
      <button
        (click)="modal.close('Save click')"
        type="button"
        placement="top"
        ngbtooltip="btn btn-light"
        class="btn btn-light active txt-dark"
      >
        Close
      </button>
    </div>
  </ng-template>
</div>
