<app-breadcrumb
  [title]="'Car Page'"
  [items]="['Forms', 'Form Layout']"
  [active_item]="'Car Page'"
></app-breadcrumb>

<div class="container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-xl-12">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5>Filter Records</h5>
              </div>
              <div class="row">
                <div class="people-list">
                  <div class="search">
                    <form
                      novalidate=""
                      class="theme-form ng-untouched ng-pristine ng-valid"
                    >
                      <div class="form-group ps-3 pt-2">
                        <div class="row">
                          <div class="col-auto">
                            <label class="col-form-label">Code:</label>
                            <input
                              type="text"
                              class="form-control"
                              placeholder="Code"
                            />
                          </div>

                          <div class="col-auto">
                            <label class="col-form-label">Full name:</label>

                            <input
                              type="text"
                              class="form-control"
                              placeholder="Full name"
                            />
                          </div>
                          <div class="col-auto">
                            <label class="col-form-label">Passport:</label>

                            <input
                              type="text"
                              class="form-control"
                              placeholder="Passport"
                            />
                          </div>
                          <div class="col-auto">
                            <label class="col-form-label">Id:</label>

                            <input
                              type="text"
                              class="form-control"
                              placeholder="Id"
                            />
                          </div>
                          <div class="col-auto">
                            <label class="col-form-label">Mobile:</label>

                            <input
                              type="text"
                              class="form-control"
                              placeholder="Mobile"
                            />
                          </div>
                          <div class="col-auto">
                            <label class="col-form-label">Telephone:</label>

                            <input
                              type="text"
                              class="form-control"
                              placeholder="Telephone"
                            />
                          </div>
                          <div class="col-auto">
                            <label class="col-form-label">Email:</label>

                            <input
                              type="email"
                              class="form-control"
                              placeholder="Email"
                            />
                          </div>
                          <div class="col-auto">
                            <label class="col-form-label">Driver license:</label>

                            <input
                              type="text"
                              class="form-control"
                              placeholder="Driver license"
                            />
                          </div>
                        </div>
                      </div>
                    </form>
                    <
                  </div>
                </div>

                <!-- <div class="row">
                  <div class="col-md-12 text-end">
                    <button class="btn btn-primary" (click)="modal.open(content)">
                      Add new customers
                    </button>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-xl-12">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h5 style="color: black">List of customers</h5>
            </div>
            <div class="table-responsive signal-table">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Code</th>
                    <th scope="col">Passport</th>
                    <th scope="col">Title</th>
                    <th scope="col">Full name</th>
                    <th scope="col">Date of birth</th>
                    <th scope="col">Dirver license</th>
                    <th scope="col">Issued by</th>
                    <th scope="col">Drv.Lns. Expiry</th>
                    <th scope="col">Passport Expiry</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>loremmmm</td>
                    <td>loremmmmzo</td>
                    <td>Medium</td>
                    <td>Medium</td>
                    <td>Triaged</td>
                    <td>0.33</td>
                    <td>Chase Nguyen</td>
                    <td>Chase Nguyen</td>

                    <td>
                      <ul class="action">
                        <li class="edit">
                          <a href="#"><i class="icon-pencil-alt"></i></a>
                        </li>
                        <li class="delete">
                          <a href="#"><i class="icon-trash mb-3"></i></a>
                        </li>
                        <li class="information">
                          <a routerLink="/cars/car-details"
                            ><i class="icon-menu mb-3"></i
                          ></a>
                        </li>
                        <li class="information">
                          <a routerLink="/cars/car-details"
                            ><i class="icon-email"></i
                          ></a>
                        </li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>loremmmm</td>
                    <td>loremmmmzo</td>
                    <td>Medium</td>
                    <td>Medium</td>
                    <td>Triaged</td>
                    <td>0.33</td>
                    <td>Chase Nguyen</td>
                    <td>Chase Nguyen</td>

                    <td>
                      <ul class="action">
                        <li class="edit">
                          <a href="#"><i class="icon-pencil-alt"></i></a>
                        </li>
                        <li class="delete">
                          <a href="#"><i class="icon-trash mb-3"></i></a>
                        </li>
                        <li class="information">
                          <a routerLink="/cars/car-details"
                            ><i class="icon-menu mb-3"></i
                          ></a>
                        </li>
                        <li class="information">
                          <a routerLink="/cars/car-details"
                            ><i class="icon-email"></i
                          ></a>
                        </li>
                      </ul>
                    </td>
                  </tr>  <tr>
                    <th scope="row">1</th>
                    <td>loremmmm</td>
                    <td>loremmmmzo</td>
                    <td>Medium</td>
                    <td>Medium</td>
                    <td>Triaged</td>
                    <td>0.33</td>
                    <td>Chase Nguyen</td>
                    <td>Chase Nguyen</td>

                    <td>
                      <ul class="action">
                        <li class="edit">
                          <a href="#"><i class="icon-pencil-alt"></i></a>
                        </li>
                        <li class="delete">
                          <a href="#"><i class="icon-trash mb-3"></i></a>
                        </li>
                        <li class="information">
                          <a routerLink="/cars/car-details"
                            ><i class="icon-menu mb-3"></i
                          ></a>
                        </li>
                        <li class="information">
                          <a routerLink="/cars/car-details"
                            ><i class="icon-email"></i
                          ></a>
                        </li>
                      </ul>
                    </td>
                  </tr>  <tr>
                    <th scope="row">1</th>
                    <td>loremmmm</td>
                    <td>loremmmmzo</td>
                    <td>Medium</td>
                    <td>Medium</td>
                    <td>Triaged</td>
                    <td>0.33</td>
                    <td>Chase Nguyen</td>
                    <td>Chase Nguyen</td>

                    <td>
                      <ul class="action">
                        <li class="edit">
                          <a href="#"><i class="icon-pencil-alt"></i></a>
                        </li>
                        <li class="delete">
                          <a href="#"><i class="icon-trash mb-3"></i></a>
                        </li>
                        <li class="information">
                          <a routerLink="/cars/car-details"
                            ><i class="icon-menu mb-3"></i
                          ></a>
                        </li>
                        <li class="information">
                          <a routerLink="/cars/car-details"
                            ><i class="icon-email"></i
                          ></a>
                        </li>
                      </ul>
                    </td>
                  </tr>  <tr>
                    <th scope="row">1</th>
                    <td>loremmmm</td>
                    <td>loremmmmzo</td>
                    <td>Medium</td>
                    <td>Medium</td>
                    <td>Triaged</td>
                    <td>0.33</td>
                    <td>Chase Nguyen</td>
                    <td>Chase Nguyen</td>

                    <td>
                      <ul class="action">
                        <li class="edit">
                          <a href="#"><i class="icon-pencil-alt"></i></a>
                        </li>
                        <li class="delete">
                          <a href="#"><i class="icon-trash mb-3"></i></a>
                        </li>
                        <li class="information">
                          <a routerLink="/cars/car-details"
                            ><i class="icon-menu mb-3"></i
                          ></a>
                        </li>
                        <li class="information">
                          <a routerLink="/cars/car-details"
                            ><i class="icon-email"></i
                          ></a>
                        </li>
                      </ul>
                    </td>
                  </tr>  <tr>
                    <th scope="row">1</th>
                    <td>loremmmm</td>
                    <td>loremmmmzo</td>
                    <td>Medium</td>
                    <td>Medium</td>
                    <td>Triaged</td>
                    <td>0.33</td>
                    <td>Chase Nguyen</td>
                    <td>Chase Nguyen</td>

                    <td>
                      <ul class="action">
                        <li class="edit">
                          <a href="#"><i class="icon-pencil-alt"></i></a>
                        </li>
                        <li class="delete">
                          <a href="#"><i class="icon-trash mb-3"></i></a>
                        </li>
                        <li class="information">
                          <a routerLink="/cars/car-details"
                            ><i class="icon-menu mb-3"></i
                          ></a>
                        </li>
                        <li class="information">
                          <a routerLink="/cars/car-details"
                            ><i class="icon-email"></i
                          ></a>
                        </li>
                      </ul>
                    </td>
                  </tr>  <tr>
                    <th scope="row">1</th>
                    <td>loremmmm</td>
                    <td>loremmmmzo</td>
                    <td>Medium</td>
                    <td>Medium</td>
                    <td>Triaged</td>
                    <td>0.33</td>
                    <td>Chase Nguyen</td>
                    <td>Chase Nguyen</td>

                    <td>
                      <ul class="action">
                        <li class="edit">
                          <a href="#"><i class="icon-pencil-alt"></i></a>
                        </li>
                        <li class="delete">
                          <a href="#"><i class="icon-trash mb-3"></i></a>
                        </li>
                        <li class="information">
                          <a routerLink="/cars/car-details"
                            ><i class="icon-menu mb-3"></i
                          ></a>
                        </li>
                        <li class="information">
                          <a routerLink="/cars/car-details"
                            ><i class="icon-email"></i
                          ></a>
                        </li>
                      </ul>
                    </td>
                  </tr>  <tr>
                    <th scope="row">1</th>
                    <td>loremmmm</td>
                    <td>loremmmmzo</td>
                    <td>Medium</td>
                    <td>Medium</td>
                    <td>Triaged</td>
                    <td>0.33</td>
                    <td>Chase Nguyen</td>
                    <td>Chase Nguyen</td>

                    <td>
                      <ul class="action">
                        <li class="edit">
                          <a href="#"><i class="icon-pencil-alt"></i></a>
                        </li>
                        <li class="delete">
                          <a href="#"><i class="icon-trash mb-3"></i></a>
                        </li>
                        <li class="information">
                          <a routerLink="/cars/car-details"
                            ><i class="icon-menu mb-3"></i
                          ></a>
                        </li>
                        <li class="information">
                          <a routerLink="/cars/car-details"
                            ><i class="icon-email"></i
                          ></a>
                        </li>
                      </ul>
                    </td>
                  </tr>  <tr>
                    <th scope="row">1</th>
                    <td>loremmmm</td>
                    <td>loremmmmzo</td>
                    <td>Medium</td>
                    <td>Medium</td>
                    <td>Triaged</td>
                    <td>0.33</td>
                    <td>Chase Nguyen</td>
                    <td>Chase Nguyen</td>

                    <td>
                      <ul class="action">
                        <li class="edit">
                          <a href="#"><i class="icon-pencil-alt"></i></a>
                        </li>
                        <li class="delete">
                          <a href="#"><i class="icon-trash mb-3"></i></a>
                        </li>
                        <li class="information">
                          <a routerLink="/cars/car-details"
                            ><i class="icon-menu mb-3"></i
                          ></a>
                        </li>
                        <li class="information">
                          <a routerLink="/cars/car-details"
                            ><i class="icon-email"></i
                          ></a>
                        </li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body">
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add new car</h4>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        ></button>
      </div>
      <div class="modal-body">
        <form class="theme-form mega-form">
          <h6>Car definition</h6>
          <span> </span>
          <div class="row g-2">
            <div class="col-md-6">
              <div class="mb-3">
                <label class="col-form-label">Code</label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Car code"
                />
              </div>
            </div>

            <div class="col-md-6">
              <div class="mb-3">
                <label class="col-form-label">Car</label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Car name"
                />
              </div>
            </div>
          </div>

          <div class="row g-2">
            <div class="col-md-6">
              <div class="mb-3">
                <label class="col-form-label">Year</label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Enter year"
                />
              </div>
            </div>

            <div class="col-md-6">
              <div class="mb-3">
                <label class="col-form-label">Plate</label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Enter Plate"
                />
              </div>
            </div>
          </div>
          <div class="row g-2">
            <div class="col-md-6">
              <div class="mb-3">
                <label class="col-form-label">Car Price<(QAR)</label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Enter car price in QAR"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label class="col-form-label">Purchase Date</label>
                <input class="form-control" type="date" />
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-dark"
          (click)="modal.close('Save click')"
        >
          Add this car
        </button>
      </div>
    </ng-template>
  </div>
</div>
